fastapi==0.135.2
colorlog==6.10.1
dependency_injector==4.48.3
SQLAlchemy==2.0.47
redis==7.2.0
pydantic_settings==2.13.1
uvicorn==0.40.0
jinja2==3.1.6
python-multipart==0.0.22
pytz==2026.1.post1
pdf2image==1.17.0
fitz==0.0.1.dev2
pypdf==6.8.0
json-repair==0.58.5
docx2pdf==0.1.8
websockets==16.0
pydub==0.25.1
pdf2image==1.17.0
pdfplumber==0.11.9
nltk==3.9.3
chromadb==1.5.5
pytest==9.0.2
pytest-mock==3.15.1
python-dotenv==1.1.1
google-generativeai==0.8.6
openai==2.38.0
mcp==1.27.1
# openinference-instrumentation-google-adk==0.1.15
arize-phoenix==16.0.0
# google-cloud-discoveryengine==0.19.0
# google-adk==1.32.0
google-cloud-discoveryengine==0.19.0
google-adk==1.32.0
openinference-instrumentation-google-adk==0.1.15
asyncpg==0.31.0
psycopg2-binary==2.9.12
litellm>=1.75.5